@import '~antd/es/style/themes/default.less';

.modal {

  // width: 500px;
  :global(.ant-modal-body) {
    padding: 0;
  }

  :global(.ant-modal) {
    // width: 500px !important;
  }

  :global(.ant-btn) {
    height: 48px !important;
    width: 120px !important;
    border-radius: 6px !important;
    border: none;

    @media screen and (max-width: @screen-sm) {
      font-size: 0.4rem;
      height: 1rem !important;
      width: 3rem !important;
    }
  }

  :global(.ant-modal-content) {
    border-radius: 12px !important;
  }

  :global(.ant-btn-primary) {
    color: white;
    background: #FA5900;
  }
  :global(.ant-btn-primary[disabled]) {
    border: none !important;
  }

  :global(.ant-btn-default) {
    color: #333;
    background: #fafafa;
  }
}

.container {
  padding: 24px;

  .title {
    margin-bottom: 24px;
    color: #FA5900;
    font-size: 24px;
    font-family: 'PingFang SC Bold';
    line-height: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .handler {
    font-size: 16px;
    font-family: 'PingFang SC Bold';
    border: none;
    text-align: right;
    margin-top: 24px;

    .cancel {}

    .yes {
      margin-left: 16px;
    }
  }
}
